@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h0 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6px;
  }
  .h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  .h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.45px;
  }

  .body1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
  .body2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.35px;
  }

  .caption1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.3px;
  }

  .caption2 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.3px;
  }

}
.swiper-pagination-bullet {
  background-color: #FFF !important; /* White for inactive bullets */
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: #FF2D60 !important; /* Red for the active bullet */
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  flex: column;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  max-width: 430px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

input:focus {
  outline: none;
}
